<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <% flash.each do |type, msg| %>
        <div class='alert alert-<%= type %>'>
          <a class="close" data-dismiss="alert">×</a>
          <%= raw msg %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
